<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="KwwikaTweetStreamerPublisherConfig" type="KwwikaTweetStreamerPublisher.XmlConfigurator,KwwikaTweetStreamerPublisher,Version=1.0.0.0,Culture=neutral, PublicKeyToken=null"/>

    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
  </configSections>

  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        autoReload="true">
    <targets async="true">
      <target xsi:type="File" name="fileLogger"
		    layout="${longdate} ${logger} ${message}"
		    fileName="${basedir}/logs/logfile.txt"
		    archiveFileName="${basedir}/archives/log.{#}.txt"
		    archiveEvery="Day"
		    archiveNumbering="Rolling"
		    maxArchiveFiles="7"
		    concurrentWrites="true"
		    keepFileOpen="false" />
    </targets>
    <rules>
      <logger name="*" writeTo="fileLogger" minLevel="Trace"/>
    </rules>
  </nlog>

  <KwwikaTweetStreamerPublisherConfig configuratorType="KwwikaTweetStreamerPublisher.KwwikaTweetStreamerPublisherConfig, KwwikaTweetStreamerPublisher">

      <TwitterConfig>
        <Url>http://stream.twitter.com/1/statuses/filter.json</Url>
        <Username>TWITTER_USERNAME</Username>
        <Password>TWITTER_PASSWORD</Password>
      </TwitterConfig>

      <KwwikaConfig>
        <Domain>KWWIKA_DOMAIN</Domain>
        <ApiKey>KWWIKA_API_KEY</ApiKey>
      </KwwikaConfig>

      <SearchDefinitions>
        <SearchDefinition name="Opta Example Search">
          <TrackFor>#opta,optajoe,optajim,optapaolo</TrackFor>
          <PublishTo>/KWWIKA/TWITTER/CUSTOM/OPTA</PublishTo>
          <FollowUsersWithId>44606764,58766476,57600343,57601680,54165269,54165269</FollowUsersWithId>
        </SearchDefinition>

        <SearchDefinition name="Kwwika mentions and general tweet search">
          <TrackFor>kwwika</TrackFor>
          <PublishTo>/KWWIKA/TWITTER/SEARCHES/KWWIKA</PublishTo>
        </SearchDefinition>

        <SearchDefinition name="#tech and #spa2010 search">
          <TrackFor>#tech</TrackFor>
          <PublishTo>/KWWIKA/TWITTER/HASHTAGS/TECH</PublishTo>
        </SearchDefinition>

        <SearchDefinition name="News">
          <TrackFor>#news</TrackFor>
          <PublishTo>/KWWIKA/TWITTER/HASHTAGS/NEWS</PublishTo>
        </SearchDefinition>

        <SearchDefinition name="How To">
          <TrackFor>#howto</TrackFor>
          <PublishTo>/KWWIKA/TWITTER/HASHTAGS/HOWTO</PublishTo>
        </SearchDefinition>

        <SearchDefinition name="Q and A">
          <TrackFor>#qanda</TrackFor>
          <PublishTo>/KWWIKA/TWITTER/HASHTAGS/QANDA</PublishTo>
        </SearchDefinition>

        <SearchDefinition name="Humor">
          <TrackFor>#humor,#humour</TrackFor>
          <PublishTo>/KWWIKA/TWITTER/HASHTAGS/HUMOR</PublishTo>
        </SearchDefinition>

        <SearchDefinition name="Follow Friday">
          <TrackFor>#ff,#followfriday</TrackFor>
          <PublishTo>/KWWIKA/TWITTER/HASHTAGS/FOLLOWFRIDAY</PublishTo>
        </SearchDefinition>

        <SearchDefinition name="UK Rain">
          <TrackFor>#ukrain</TrackFor>
          <PublishTo>/KWWIKA/TWITTER/HASHTAGS/UKRAIN</PublishTo>
        </SearchDefinition>

        <SearchDefinition name="UK Snow">
          <TrackFor>#uksnow</TrackFor>
          <PublishTo>/KWWIKA/TWITTER/HASHTAGS/UKSNOW</PublishTo>
        </SearchDefinition>

        <SearchDefinition name="UK Storm">
          <TrackFor>#ukstorm</TrackFor>
          <PublishTo>/KWWIKA/TWITTER/HASHTAGS/UKSTORM</PublishTo>
        </SearchDefinition>

        <SearchDefinition name="UK Sun">
          <TrackFor>#uksun</TrackFor>
          <PublishTo>/KWWIKA/TWITTER/HASHTAGS/UKSUN</PublishTo>
        </SearchDefinition>

        <SearchDefinition name="UK Aurora">
          <TrackFor>#ukaurora</TrackFor>
          <PublishTo>/KWWIKA/TWITTER/HASHTAGS/UKAURORA</PublishTo>
        </SearchDefinition>

        <SearchDefinition name="UK NLC">
          <TrackFor>#uknlc</TrackFor>
          <PublishTo>/KWWIKA/TWITTER/HASHTAGS/UKNLC</PublishTo>
        </SearchDefinition>

        <SearchDefinition name="UK Flying Ants">
          <TrackFor>#ukflyingants</TrackFor>
          <PublishTo>/KWWIKA/TWITTER/HASHTAGS/UKFLYINGANTS</PublishTo>
        </SearchDefinition>

        <SearchDefinition name="UK UFO">
          <TrackFor>#ukufo</TrackFor>
          <PublishTo>/KWWIKA/TWITTER/HASHTAGS/UKUFO</PublishTo>
        </SearchDefinition>

        <SearchDefinition name="UFO">
          <TrackFor>#ukufo</TrackFor>
          <PublishTo>/KWWIKA/TWITTER/HASHTAGS/UFO</PublishTo>
        </SearchDefinition>

        <SearchDefinition name="Womens Rugby World Cup">
          <TrackFor>#wrwc</TrackFor>
          <PublishTo>/KWWIKA/TWITTER/HASHTAGS/WRWC</PublishTo>
        </SearchDefinition>

        <SearchDefinition name="The Meet 140">
          <TrackFor>#themeet140</TrackFor>
          <PublishTo>/KWWIKA/TWITTER/HASHTAGS/THEMEET140</PublishTo>
          <CountFields>
            <CountField Name="TotalTweets" MatchAll="true" />
          </CountFields>
        </SearchDefinition>

        <SearchDefinition name="My Loncon Cycle">
          <TrackFor>#mlc,#mycyclelondon</TrackFor>
          <PublishTo>/KWWIKA/TWITTER/HASHTAGS/MYCYCLELONDON</PublishTo>
        </SearchDefinition>

        <SearchDefinition name="Twitter Art">
          <TrackFor>#twittart</TrackFor>
          <PublishTo>/KWWIKA/TWITTER/HASHTAGS/TWITTERART</PublishTo>
        </SearchDefinition>

        <SearchDefinition name="Now Playing">
          <TrackFor>#nowplaying</TrackFor>
          <PublishTo>/KWWIKA/TWITTER/HASHTAGS/NOWPLAYING</PublishTo>
        </SearchDefinition>

        <SearchDefinition name="#tech and #spa2010 search">
          <TrackFor>#spa2010</TrackFor>
          <PublishTo>/KWWIKA/TWITTER/HASHTAGS/SPA2010</PublishTo>
        </SearchDefinition>

        <SearchDefinition name="BarCamp Glasgow">
          <TrackFor>#barcampglasgow,#barcampscotland,#bcg,#bcs</TrackFor>
          <PublishTo>/AARONBASSETT/TWITTER/HASHTAGS/BARCAMP</PublishTo>
          <CountFields>
            <CountField Name="TotalTweets" MatchAll="true" />
          </CountFields>
        </SearchDefinition>

        <SearchDefinition name="Follow the leader debate">
          <TrackFor>#leadersdebate,#leaderdebate,#ukelection</TrackFor>
          <PublishTo>/KWWIKA/TWITTER/SEARCHES/LEADERSDEBATE</PublishTo>
          <Ignore>
            <Match FieldToMatch="Text" IgnoreCase="false" Expression="(\s|\W|^)RT(\s|\W|$)" />
          </Ignore>
          <CountFields>
            <CountField Name="TotalTweets" MatchAll="true" />
            <CountField Name="BrownTotal">
              <Match FieldToMatch="Text" IgnoreCase="true" Expression="(\s|\W|^)brown(\s|\W|$)|(\s|\W|^)gordon(\s|\W|$)|(\s|\W|^)labour(\s|\W|$)|(\s|\W|^)gb(\s|\W|$)" />
            </CountField>
            <CountField Name="CameronTotal">
              <Match FieldToMatch="Text" IgnoreCase="true" Expression="(\s|\W|^)cameron(\s|\W|$)|(\s|\W|^)dc(\s|\W|$)|(\s|\W|^)david(\s|\W|$)|(\s|\W|^)conservative(\s|\W|$)|(\s|\W|^)conservatives(\s|\W|$)|(\s|\W|^)tory(\s|\W|$)|(\s|\W|^)tories(\s|\W|$)" />
            </CountField>
            <CountField Name="CleggTotal">
              <Match FieldToMatch="Text" IgnoreCase="true" Expression="(\s|\W|^)clegg(\s|\W|$)|(\s|\W|^)nc(\s|\W|$)|(\s|\W|^)nick(\s|\W|$)|(\s|\W|^)lib dem(\s|\W|$)|(\s|\W|^)lib dems(\s|\W|$)|(\s|\W|^)libdems(\s|\W|$)|(\s|\W|^)libdem(\s|\W|$)|(\s|\W|^)lib-dems(\s|\W|$)|(\s|\W|^)lib-dem(\s|\W|$)" />
            </CountField>
          </CountFields>
        </SearchDefinition>

        <SearchDefinition name="Follow the leaders debate (RT Count Only)">
          <TrackFor>#leaderdebate,#leadersdebate,#ukelection</TrackFor>
          <PublishTo>/KWWIKA/TWITTER/SEARCHES/LEADERSDEBATE</PublishTo>
          <FieldsToSend>RetweetTotal</FieldsToSend>
          <CountFields>
            <CountField Name="RetweetTotal">
              <Match FieldToMatch="Text" IgnoreCase="false" Expression="(\s|\W|^)RT(\s|\W|$)" />
            </CountField>
          </CountFields>
        </SearchDefinition>

        <!-- World Cup definitions -->
        <SearchDefinition name="Other">
          <TrackFor>#worldcup,#sa2010,#wc2010,#worldcup2010</TrackFor>
          <Ignore>
            <Match IgnoreCase="true"
                 Expression="(\s|\W|^)(#rsa|#mex|#uru|#fra|#kor|#gre|#arg|#nga|#eng|#usa|#alg|#svn|#srb|#gha|#ger|#aus|#bra|#chi|#civ|#cmr|#den|#esp|#hon|#ita|#jpn|#svk|#sui|#prk|#sui|#por|#ned)(\s|\W|$)"
                 FieldToMatch="Text" />
          </Ignore>
          <PublishTo>/KWWIKA/TWITTER/SEARCHES/WC2010/OTHER</PublishTo>
        </SearchDefinition>

        <SearchDefinition name="South Africa" Request="false">
          <TrackFor>south africa,southafrica,#rsa</TrackFor>
          <PublishTo>/KWWIKA/TWITTER/SEARCHES/WC2010/SOUTHAFRICA</PublishTo>
        </SearchDefinition>

        <SearchDefinition name="Mexico" Request="false">
          <TrackFor>mexico,#mex</TrackFor>
          <PublishTo>/KWWIKA/TWITTER/SEARCHES/WC2010/MEXICO</PublishTo>
        </SearchDefinition>

        <SearchDefinition name="Uruguay" Request="false">
          <TrackFor>Uruguay,#uru</TrackFor>
          <PublishTo>/KWWIKA/TWITTER/SEARCHES/WC2010/URUGUAY</PublishTo>
        </SearchDefinition>

        <SearchDefinition name="France" Request="false">
          <TrackFor>france,#fra</TrackFor>
          <PublishTo>/KWWIKA/TWITTER/SEARCHES/WC2010/FRANCE</PublishTo>
        </SearchDefinition>

        <SearchDefinition name="South Korea" Request="false">
          <TrackFor>southkorea,south korea,#kor</TrackFor>
          <PublishTo>/KWWIKA/TWITTER/SEARCHES/WC2010/SOUTHKOREA</PublishTo>
        </SearchDefinition>

        <SearchDefinition name="Greece" Request="false">
          <TrackFor>greece,#gre</TrackFor>
          <PublishTo>/KWWIKA/TWITTER/SEARCHES/WC2010/GREECE</PublishTo>
        </SearchDefinition>

        <SearchDefinition name="Argentina" Request="false">
          <TrackFor>argentina,#arg</TrackFor>
          <PublishTo>/KWWIKA/TWITTER/SEARCHES/WC2010/ARGENTINA</PublishTo>
        </SearchDefinition>

        <SearchDefinition name="Nigeria" Request="false">
          <TrackFor>nigeria,#nga</TrackFor>
          <PublishTo>/KWWIKA/TWITTER/SEARCHES/WC2010/NIGERIA</PublishTo>
        </SearchDefinition>

        <SearchDefinition name="England" Request="false">
          <TrackFor>england,#eng</TrackFor>
          <PublishTo>/KWWIKA/TWITTER/SEARCHES/WC2010/ENGLAND</PublishTo>
        </SearchDefinition>

        <SearchDefinition name="United States" Request="false">
          <TrackFor>usa,unitedstates,united states,#usa</TrackFor>
          <PublishTo>/KWWIKA/TWITTER/SEARCHES/WC2010/USA</PublishTo>
        </SearchDefinition>

        <SearchDefinition name="Algeria" Request="false">
          <TrackFor>algeria,#alg</TrackFor>
          <PublishTo>/KWWIKA/TWITTER/SEARCHES/WC2010/ALGERIA</PublishTo>
        </SearchDefinition>

        <SearchDefinition name="Slovenia" Request="false">
          <TrackFor>slovenia,#svn</TrackFor>
          <PublishTo>/KWWIKA/TWITTER/SEARCHES/WC2010/SLOVENIA</PublishTo>
        </SearchDefinition>

        <SearchDefinition name="Serbia" Request="false">
          <TrackFor>serbia,#srb</TrackFor>
          <PublishTo>/KWWIKA/TWITTER/SEARCHES/WC2010/SERBIA</PublishTo>
        </SearchDefinition>

        <SearchDefinition name="Ghana" Request="false">
          <TrackFor>ghana,#gha</TrackFor>
          <PublishTo>/KWWIKA/TWITTER/SEARCHES/WC2010/GHANA</PublishTo>
        </SearchDefinition>

        <SearchDefinition name="Germany" Request="false">
          <TrackFor>germany,#ger</TrackFor>
          <PublishTo>/KWWIKA/TWITTER/SEARCHES/WC2010/GERMANY</PublishTo>
        </SearchDefinition>

        <SearchDefinition name="Australia" Request="false">
          <TrackFor>australia,#aus</TrackFor>
          <PublishTo>/KWWIKA/TWITTER/SEARCHES/WC2010/AUSTRALIA</PublishTo>
        </SearchDefinition>

        <SearchDefinition name="Brazil" Request="false">
          <TrackFor>brazil,brasil,#bra</TrackFor>
          <PublishTo>/KWWIKA/TWITTER/SEARCHES/WC2010/BRAZIL</PublishTo>
        </SearchDefinition>

        <SearchDefinition name="Chile" Request="false">
          <TrackFor>chile,#chi</TrackFor>
          <PublishTo>/KWWIKA/TWITTER/SEARCHES/WC2010/CHILE</PublishTo>
        </SearchDefinition>

        <SearchDefinition name="Ivory Coast" Request="false">
          <TrackFor>ivory coast,ivorycoast,#civ</TrackFor>
          <PublishTo>/KWWIKA/TWITTER/SEARCHES/WC2010/IVORYCOAST</PublishTo>
        </SearchDefinition>

        <SearchDefinition name="Cameroon" Request="false">
          <TrackFor>cameroon,#cmr</TrackFor>
          <PublishTo>/KWWIKA/TWITTER/SEARCHES/WC2010/CAMEROON</PublishTo>
        </SearchDefinition>

        <SearchDefinition name="Denmark" Request="false">
          <TrackFor>denmark,#den</TrackFor>
          <PublishTo>/KWWIKA/TWITTER/SEARCHES/WC2010/DENMARK</PublishTo>
        </SearchDefinition>

        <SearchDefinition name="Spain" Request="false">
          <TrackFor>spain,#esp</TrackFor>
          <PublishTo>/KWWIKA/TWITTER/SEARCHES/WC2010/SPAIN</PublishTo>
        </SearchDefinition>

        <SearchDefinition name="Honduras" Request="false">
          <TrackFor>honduras,#hon</TrackFor>
          <PublishTo>/KWWIKA/TWITTER/SEARCHES/WC2010/HONDURAS</PublishTo>
        </SearchDefinition>

        <SearchDefinition name="Italy" Request="false">
          <TrackFor>italy,#ita</TrackFor>
          <PublishTo>/KWWIKA/TWITTER/SEARCHES/WC2010/ITALY</PublishTo>
        </SearchDefinition>

        <SearchDefinition name="Japan" Request="false">
          <TrackFor>japan,#jpn</TrackFor>
          <PublishTo>/KWWIKA/TWITTER/SEARCHES/WC2010/JAPAN</PublishTo>
        </SearchDefinition>

        <SearchDefinition name="Slovakia" Request="false">
          <TrackFor>slovakia,#svk</TrackFor>
          <PublishTo>/KWWIKA/TWITTER/SEARCHES/WC2010/SLOVAKIA</PublishTo>
        </SearchDefinition>

        <SearchDefinition name="Switzerland" Request="false">
          <TrackFor>switzerland,#sui</TrackFor>
          <PublishTo>/KWWIKA/TWITTER/SEARCHES/WC2010/SWITZERLAND</PublishTo>
        </SearchDefinition>

        <SearchDefinition name="North Korea" Request="false">
          <TrackFor>north korea,northkorea,korea dpr,koreadpr,#prk</TrackFor>
          <PublishTo>/KWWIKA/TWITTER/SEARCHES/WC2010/NORTHKOREA</PublishTo>
        </SearchDefinition>

        <SearchDefinition name="Switzerland" Request="false">
          <TrackFor>switzerland,#sui</TrackFor>
          <PublishTo>/KWWIKA/TWITTER/SEARCHES/WC2010/SWITZERLAND</PublishTo>
        </SearchDefinition>

        <SearchDefinition name="Portugal" Request="false">
          <TrackFor>portugal,#por</TrackFor>
          <PublishTo>/KWWIKA/TWITTER/SEARCHES/WC2010/PORTUGAL</PublishTo>
        </SearchDefinition>

        <SearchDefinition name="Netherlands" Request="false">
          <TrackFor>netherlands,holland,#ned</TrackFor>
          <PublishTo>/KWWIKA/TWITTER/SEARCHES/WC2010/NETHERLANDS</PublishTo>
        </SearchDefinition>

        <!--<SearchDefinition name="English premier league football updates">
        <FollowUsersWithId>8351952,133892723,7589572,14455530</FollowUsersWithId>
        <PublishTo>/KWWIKA/TWITTER/CUSTOM/ENGPREM</PublishTo>
      </SearchDefinition>-->




      </SearchDefinitions>
    
  </KwwikaTweetStreamerPublisherConfig>
  
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
